<!-- It inherits from layout.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>Bangalore University - 50 Years</h1>
    <body>
      <p>
          Bangalore University is located in the Garden City of Bangalore aptly hailed as the  “I.T. Capital of India”, was established in July 1964 as an off shoot of the University of Mysore, primarily to include institutions of higher learning located in the metropolitan city of Bangalore and the districts of Bangalore, Kolar and Tumkur, which eventually became a separate university. Initially, the two premier colleges of the city, the Central College (CC) and the University Visvesvaraya College of Engineering (UVCE) formed the nucleus of Bangalore University.
      </p>
{% endblock content %}
